@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: url(/assets/fonts/bcf904df202df853ba4e.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 500;
  src: url(/assets/fonts/c41ed4347450ec75e2e1.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 600;
  src: url(/assets/fonts/1c45307d8bcb31ff9e58.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: url(/assets/fonts/57226fb8e671448dd333.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/94ea3185bcb43a7b7720.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/2ca232991b93da0e0597.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 600;
  src: url(/assets/fonts/fbfca1ea1e4af683e1b8.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/b35255c89e2236d146d6.ttf) format('truetype');
}
