@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 300;
  src: url(/assets/fonts/87d90216c78cef0fc70c.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/43c9d278de40e45a35db.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/75cbfdd1c201a0c1ba8c.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 600;
  src: url(/assets/fonts/8d0d5eb3727b17771602.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/668309d24c15ec3f9f62.ttf) format('truetype');
}
